<%= form_for(:session, :url => sessions_path) do |f| %>
<tr>
	<td class="signin_email">
		<label>Email:</label><br />
		<%= f.text_field :email %>
	</td>
	<td class="signin_password">
		<label>Password:</label><br />
		<%= f.password_field :password %>
	</td>
	<td class="signin_button">
		<%= f.submit "Sign In" %>
	</td>
</tr>
<% end %>