<h3>All Users</h3>
<table class="feed table-hover">
	  <thead>
    	<tr>
      		<th>Gravatar</th>
      		<th>Member</th>
      		<th>Short Biography</th>
    	</tr>
    </thead>
		<%= render @users %>
</table>
<div class="align_paginate_bottom"><%= will_paginate @users %></div>



