<h1>All Users</h1>

<div class="align_paginate_top"><%= will_paginate @users %></div>
<table class="index">
		<%= render @users %>
</table>
<div class="align_paginate_bottom"><%= will_paginate @users %></div>



