<div id="newUser"class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <h3>Welcome to Dog Stop!</h3>
  </div>
  <div class="modal-body">
    <p>Stuff.....</p>
    <p>Please fill out your profile</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Edit Profile", edit_user_path(current_user), :class => "btn btn-primary" %>
  </div>
</div>