<table class="user_title" summary="User Information">
	<tr>
		<td class="user_title">
			<%= gravatar_for @user, :size => 100 %> 
			<%= render 'users/user_name' %>
		</td>
	</tr>
</table>
<table class="user_info" summary="Dog Information">
	<tr>
		<td>
			<%= render 'users/user_info' %>
		</td>
	</tr>
</table>
<table class="dog_info" summary="Dog Information">
	<tr>
		<td class="dog_info">
			<%= render 'users/dog_info' %>
		</td>
	</tr>
</table>





