<% unless @feed_items.empty? %>
<h5>Recent Posts:</h5>
<table class="table">
	<%= render :partial => 'shared/feed_item', :collection => @feed_items %>
</table>
<%= will_paginate @feed_items %>
<% end %>
