<% if signed_in? %>
<div class="row">
<div class="span4">
<a href="<%= user_path(current_user) %>"><%= gravatar_for current_user, size: 90 %></a>
</div>
<div class="span5"><h1>Heading!</h1></div>
</div>
<div class="row">
	<div class="span12">
  		<%= link_to "view my profile", current_user %> <%= pluralize(current_user.microposts.count, "post") %>
	</div>
</div>
<% else %>

<% end %>