<div class="push_top"></div>
<% if signed_in? %>
  <%= render 'shared/user_info' %>
  <div class="span12">
  <br />
  <%= render 'shared/micropost_form' %>
  </div>
  <div class="span12">
  <%= render 'shared/stats' %>
  </div>
  <div class="span12">
  	<%= render 'shared/feed' %>
  </div>
<% else %>

<% end %>