<% if signed_in? %>
<div class="push_top"></div>
    <%= render 'shared/user_info' %>
  <div class="span12">
  <br />
  <%= render 'shared/micropost_form' %>
  </div>
  <%= render 'shared/feed' %>

<% else %>
<%= render 'pages/welcome' %>
<% end %>