<% if signed_in? %>
<table class ="front">
	<tr>
		<td class="main">
			<h1 class="micropost">Post</h1>
			<%= render 'shared/micropost_form' %>
		</td>
	</tr>
</table>
<% else %>
<h1>Home Page</h1>
<% end %>