@import "bootstrap";

/* Error Styling */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 div.error_messages {
 	padding-top: 100px;
 }


html {
  overflow-y: scroll;
  height: 100%
}

body {
	height: 100%;
}

div.push_top {
	margin-top: 30px;
}
section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

div.field {
	margin-bottom: 10px;
}

/* Welcome */

h1.welcome {
	margin-top: 30px
}

label.first {
	margin-bottom: 0px;
}

label.last {
	margin-bottom: 0px;
}

label.email {
	margin-bottom: 0px;
}

label.password {
	margin-bottom: 0px;
}


/* Header */

nav {
	padding-top: 40px;
}

div.navbar_container {
	margin-left: 15%;
	margin-right: 15%;
}

nav form {
	margin: 0;
}

table.signin {

}

div.nav_logo {
	margin-top: 5px;
	margin-bottom: 5px;
}

td.signin_email {
	padding-top: 7px;
	padding-right: 15px;
}

td.signin_email_label {
	padding-right: 5px;
	padding-bottom: 6px;
	vertical-align: bottom;
}

td.signin_password {
	padding-top: 7px;
}

td.signin_password_label {
	padding-right: 5px;
	padding-bottom: 6px;
	vertical-align: bottom;
}

td.signin_button {
	padding-left: 15px;
	vertical-align: top;
}

/* Footer */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push {
	height: 60px;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

div.inner_footer {
	padding-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

/* User Page */

div.user_name {
	text-align: center;
	margin-top: 25px;
}

table.user_info {
	width: 60%;
	margin-top: 20px;
}

h1.username {
	text-align: center;
	color: #404040;
}

img.gravatar {
	border: 3px solid #404040;
}

ul.user_info {
	color: #404040;
	list-style-type: none;
}

div.user_info_spacing {
	margin-bottom: 10px;
}

table.dog_info {
	width: 60%;
	border: 1px solid;
}

ul.dog_info {
	color: #404040;
	list-style-type: none;
}

div.dog_info_spacing {
	margin-bottom: 10px;
}
table.sidebar {
	margin-top: 20px;
	margin-left: auto;
}

table.micropost_form {
	width: 60%;
	margin-top: 1em;
	border: 1px solid;
}

div.signup_field {
	padding-bottom: 0px;
}

label.first {
	margin-bottom: 0px;
}

label.last {
	margin-bottom: 0px;
}

label.email {
	margin-bottom: 0px;
}

label.password {
	margin-bottom: 0px;
}

/* microposts */

table.feed {
	width: 100%;
}

table.gravatar {
	border: 1px solid;
}

td.feed_table{
	width: 35%;
}

td.feed_content{
	width: 55%;
}

td.feed_delete{
	width: 10%;
	text-align: right;
}

/* User Index  */

table.index {
	width: 100%;
}

table.index tr td.divider_top {
	border-top: thin solid black;
}

table.index td.user_gravatar {
	padding-left: .5em;
	padding-bottom: 0;

}

table.index td.user_name {
	padding-left: 1.5em;
	font-size: 18px;
	text-align: left;
	width: 25%;
}

table.index td.user_short_bio {
	width: 60%;
	padding-left: 1.5em;
	border-left: thin dotted black;
}

table.index td.admin_delete {
	width: 10%;
}

div.align_paginate_top {
	margin-left: 4em;
	padding-bottom: 1em;
}

	

