@import "bootstrap";

/* Error Styling */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 div.error_messages {
 	padding-top: 100px;
 }

div.alert {
	text-align: center;
}

html {
  overflow-y: scroll;
  height: 100%
}

body {
	height: 100%;
}

div.push_top {
	margin-top: 30px;
}
section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

div.field {
	margin-bottom: 10px;
}

/* Welcome */

h1.welcome {
	margin-top: 30px
}

h2.welcome {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

label.first {
	margin-bottom: 0px;
}

label.last {
	margin-bottom: 0px;
}

label.email {
	margin-bottom: 0px;
}

label.password {
	margin-bottom: 0px;
}


/* Header */

nav {
	padding-top: 40px;
}

div.navbar_container {
	margin-left: 15%;
	margin-right: 15%;
}

ul.nav.profile_nav.pull-right.nav-tabs{
	padding-top: 45px;
}

ul.nav.profile_nav.pull-right li a:hover {
	background-color: #E0E0E0;
}

nav form {
	margin: 0;
}

table.signin {

}

div.nav_logo {
	margin-top: 5px;
	margin-bottom: 5px;
}

td.signin_email {
	padding-top: 7px;
	padding-right: 15px;
}

td.signin_email_label {
	padding-right: 5px;
	padding-bottom: 6px;
	vertical-align: bottom;
}

td.signin_password {
	padding-top: 7px;
}

td.signin_password_label {
	padding-right: 5px;
	padding-bottom: 6px;
	vertical-align: bottom;
}

td.signin_button {
	padding-left: 15px;
	vertical-align: top;
}

/* Footer */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push {
	height: 60px;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

div.inner_footer {
	padding-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

/* User Page */

div.user_name {
	text-align: center;
	margin-top: 25px;
}

table.user_info {
	width: 60%;
	margin-top: 20px;
}

h1.username {
	padding-left: 70px;
	letter-spacing: 1px;
	color: #404040;
	font-size: 40px;
}

h2.dog_name {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #404040;
}

div.title_stats {
	padding-left: 0px;
}

img.gravatar {
	border: 1.5px solid #404040;
}

div.user_information {
	padding-top: 20px;
	color: #404040;
}

div.user_info_spacing {
	margin-bottom: 7px;
}

table.dog_info {
	width: 60%;
	border: 1px solid;
}

div.dog_info_spacing {
	margin-bottom: 10px;
}

div.info_border {
	border-right: 1px solid $grayLighter
}
table.sidebar {
	margin-top: 20px;
	margin-left: auto;
}

table.micropost_form {
	width: 60%;
	margin-top: 1em;
	border: 1px solid;
}

div.signup_field {
	padding-bottom: 0px;
}

label.first {
	margin-bottom: 0px;
}

label.last {
	margin-bottom: 0px;
}

label.email {
	margin-bottom: 0px;
}

label.password {
	margin-bottom: 0px;
}

div.profile_posts {

}

div.span4.pull-right.long_bio {
	padding-bottom: 15px;
}

/* microposts */

table.feed {
	width: 100%;
}

table.gravatar {
	border: 1px solid;
}

td.feed_table{
	width: 20%;
}

td.feed_content{
	border-left: 1px solid $grayLighter;
	width: 55%;
}

td.feed_delete{
	width: 10%;
	text-align: right;
}

/* User Index  */

table.index th.index_header {
	padding-top: 15px;
	padding-bottom: 15px;
}

table.index {
	width: 100%;
}

td.profile_content_delete{
	width: 10%;
	text-align: right;
}



table.index td.user_gravatar {
	border-top: 1px solid $grayLighter;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.5em;
}

table.index td.user_name {
	border-top: 1px solid $grayLighter;
	vertical-align: center;
	padding-left: 1em;
	font-size: 16px;
	text-align: left;
	width: 30%;
}

table.index td.user_short_bio {
	border-top: 1px solid $grayLighter;
	vertical-align: center;
	width: 55%;
	padding-left: 1.5em;
}

table.index td.admin_delete {
	width: 10%;
}

div.align_paginate_top {
	margin-left: 4em;
}

/* Stats */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

/* User Profile Microposts */

table.profile_microposts {
	width: 100%;
}

div.profile_content {
	
}

div.profile_content_delete {
	
}

p.dog_info {
	font-size: 34px;
}

/* List Users */

table.show_follow {
	width: 100%
}

/* Edit User Info */

.user_info.close.float-right a:hover {
	text-decoration:none;
}

div#userInfo.modal.fade.in {
   margin-top: -45%;
   margin-left: -450px;
   margin-right: -450px;
   width: 900px;
}

.modal-body.user_info {
	max-height: 650px;
}

table.user_information {
	margin-left: 140px;
}

table.user_information td.first_name {
	
}

table.user_information td.email {
	padding-top: 20px;
}

table.user_information td.birthday {
	padding-top: 20px;
}

table.user_information td.address {
	padding-top: 30px;
}

table.biography {
	margin-left: 140px;
}

td.user_info_password {
	padding-left: 40px;
	padding_right: 40px;
}

td.user_info_password_confirmation {
	padding-left: 80px;
}

h1.headers {
	padding-top: 10px;
	color: #404040;
	font-size: 40px;
	letter-spacing: .5px;
}

h1.marketplace_header {
	padding-top: 25px;
	padding-left: 35px;
	color: #404040;
	font-size: 75px;
	letter-spacing: 2.5px;
}







	

